#Container
{
    -fx-spacing:10;
    -fx-padding:10 10 10 10;
    -fx-pref-height:480;
    -fx-background-image:url("../assets/icons/background2.jpg");

}

#menu
{
    -fx-pref-width:330;
    -fx-pref-height:50;
    -fx-spacing:20;
    -fx-background-color:rgb(55, 58, 54);
    -fx-effect: dropshadow( gaussian , rgba(19, 16, 16, 0.897) , 1,1,1,1 );
}

#EditBoxContainer
{
    -fx-pref-width:350;
    -fx-pref-height:480;
    -fx-alignment:CENTER;
}
#CancelButton
{
    -fx-alignment:center-right;
}

#EditBox
{
    -fx-spacing:30;
    -fx-padding:10;

}

#ContactImageBox
{
    -fx-pref-width:80;
}

TextField
{
    -fx-pref-width:320;
    -fx-pref-height:40;
}

TextField:hover
{
    -fx-border-style:solid;
    -fx-border-width:0 5 0 0;
    -fx-border-color:rgb(29, 103, 187);
}

Button
{
    -fx-border-width:0;
    -fx-background-color:rgb(132, 158, 192);
}

Button:hover
{
   
    -fx-effect: dropshadow( gaussian , rgba(7, 6, 6, 0.863) , 2,2,1,1 );
}

#TitleContainer
{
    -fx-spacing:10;
    -fx-alignment:CENTER;
}