
<web-app>

<servlet>
<servlet-name>anu</servlet-name>
<servlet-class>Addition</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>anu</servlet-name>
<url-pattern>/adder</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>appu</servlet-name>
<servlet-class>Square</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>appu</servlet-name>
<url-pattern>/square</url-pattern>
</servlet-mapping>

</web-app>