
<web-app>
<servlet>
<servlet-name>manoj</servlet-name>
<servlet-class>Sample</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>manoj</servlet-name>
<url-pattern>/game</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>manoj2</servlet-name>
<servlet-class>SamplePage</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>manoj2</servlet-name>
<url-pattern>/game2</url-pattern>
</servlet-mapping>
</web-app>